*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}


nav{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.brand{
    font-size: 30px;
    font-weight: 600;
}

nav li{
    height: 40px;
}

nav a{
    height: 100%;
    padding: 0 30px 0 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background: none;
    text-decoration: underline;
    font-weight: 300;
    color: #006400;
}

nav li:first-child{
    margin-right: auto;

}


/*For navbar*/
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #f4f4f4;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
}

.sidebar a{
    width: 100%;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: none;
    color: #006400;
    text-decoration: underline;
}

.menu-button{
    display: none;
}

  @media (max-width: 768px) {
    .hideOnMobile {
      display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
      width: 100%;
    }
}

.wrapper{
    width: 460px;
    background-color: #f0f1f5;
    color:#000;
    border-radius: 12px;
    padding: 35px 40px;
    transition: opacity 0.2s ease-in-out;
    margin-bottom: 40%;
    
}

.wrapper h1{
    font-size: 30px;
    text-align: center;
}

.wrapper img {
    display: block;
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin: 0 auto 10px;
  }


.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    position: relative;
}
.input-box input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    border: 3px solid rgba(2, 2, 2, 0.2);
    border-radius: 20px;
    font-size: 15px;
    padding: 20px 20px 20px 30px;
    margin-left: 25px;
}

.input-box input:hover,
.input-box input:focus {
    border: 2px solid #1f9335;
    outline: none;
}

.toggle-password {
    position: absolute;
    right: 80px;
    top: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
}

.toggle-password:hover i {
    color: #000;
}

.hide{
    display: none;
}


.input-box i{
    position: absolute;
    left: 42px;
    top: 15px;
    transform: translate(-50%);
    font-size: 20px;
    color: #000000;
}

.toggle-password {
    position: absolute;
    top: 5%;
    right: 60px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-around;
    font-size: 14.5px;
    margin: -15px 0 15px;
    margin-bottom: 50px;
    margin-top: 5px;
}
.remember-forgot label input{
    accent-color: #0206f0;
    margin-right: 10px;
    margin-left: -5px;
}
.remember-forgot a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
    color: blue;
}
.wrapper .btn{
    width: 70%;
    height: 45px;
    background-color: #006400;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}
.wrapper .btn:hover{
    color: #1f9335;
    background-color: rgb(255, 255, 255);
    border: 2px solid #1f9335;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.Terms{
    font-size: 12px;
    padding: 20px;
}

.register-link p a{
    color: rgb(4, 3, 80);
    font-weight: 600;
    text-decoration: none;
}
.register-link p a:hover{
    text-decoration: underline;
}

.footer {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.05);
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    width: 60px;
    height: auto;
  }
  
  .footer-brand {
    font-size: 20px;
    font-weight: bold;
    color: #006400;
  }
  
  .footer-links p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #444;
  }
  
  .footer-links a {
    color: #006400;
    text-decoration: none;
    font-weight: 500;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom p{
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    font-size: 10px;
    color: #666;
  }

.hide {
    display: none;
}

.gotopbtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: #006400;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    opacity: 0;
    animation-name: appear;
    animation-timeline: scroll();
  }

  
  
  @keyframes appear {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

/* RESPONSIVE DESIGN */
@media (max-width: 780px) {
    .wrapper {
        width: 70%; /* Make form container flexible */
        padding: 20px;
    }

    .input-box i{
        position: absolute;
        left: 15%;
        top: 15px;
        font-size: 18px;
        color: #000000;
    }

    .input-box .toggle-password {
        position: absolute;
        right: 50px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .input-box input {
        width: 85%; /* Adjust input width */
    }
}

@media (max-width: 580px) {
    .wrapper {
        width: 60%; /* Make form container flexible */
        padding: 20px;
    }

    .input-box i{
        position: absolute;
        left: 20%;
        top: 15px;
        font-size: 18px;
        color: #000000;
    }

    .input-box .toggle-password {
        position: absolute;
        right: 90px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .input-box input {
        width: 70%; /* Adjust input width */
    }
}

@media (max-width: 414px) {
    .wrapper {
        width: 100%; /* Make form container flexible */
        padding: 30px;
    }

    .input-box i{
        position: absolute;
        left: 15%;
        top: 15px;
        font-size: 18px;
        color: #000000;
    }

    .input-box .toggle-password {
        position: absolute;
        right: 30px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .input-box input {
        width: 90%; /* Adjust input width */
    }
    

    .toggle-password {
        right: 10px; 
    }

    .footer {
        font-size: 12px; 
        padding: 10px;
    }
}




